# Laravel & general files
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json

# IDE and editor files
.idea
.vscode
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Laravel debug log files
/storage/logs/*
!/storage/logs/.gitkeep

# Ignore environment files
.env.*.backup